shift_stack_moons==0.1.0
astropy
astroquery
matplotlib
numpy<1.25
pandas
pytest
PyYAML
scikit_image
scipy
setuptools
git+https://github.com/keflavich/image_registration.git
sphinx==6.2.1
nbsphinx==0.9.2